
  <div id="providerHeader" *ngIf="selected">
    <div class="container container-fluid" style="height: 150px; margin: 15px auto; width: 85%">
      <br>
      <div class="float-start" *ngIf="loggedInUser && selected">
        <h2>{{selected.name}}</h2>
        <h5>{{ selected.about}}</h5>
        <!-- <h5>{{ selected.email }}</h5> -->
        <h5>{{ selected.phone }}</h5>
        <p *ngFor=" let service of selected.serviceTypes">{{service.name}}</p><br>
        <button *ngIf="!editBusiness" class="btn btn-outline-dark" (click)="setEditBusiness()">Edit Business Information</button>
      </div>
        <img *ngIf="selected.imageUrl" src="{{ selected.imageUrl }}" alt="{{selected.name}} picture" class="rounded float-end" style="max-width: 150px; justify-content: right;"><br>
        <img *ngIf="!selected.imageUrl" src="http://pluspng.com/img-png/shop-png-black-and-white-shop-icon-it-s-an-icon-for-finding-local-shopping-the-logo-is-a-square-png-50-px-1600.png" alt="{{selected.name}} picture" class="rounded float-end" style="max-width: 150px; justify-content: right;"><br>


    </div>
  </div>


  <div *ngIf="editBusiness" style="margin: auto; width: 85%">
    <div>
         <form>
            Name:
            <input type="text" name="name" [(ngModel)]="editBusiness.name" ><br>
            About:
            <input type="text"  name="about" [(ngModel)]="editBusiness.about"><br>
            Phone:
            <input type="text"  name="phone" [(ngModel)]="editBusiness.phone"><br>
            Image Url:
            <input type="text"  name="imageUrl" [(ngModel)]="editBusiness.imageUrl"><br>
            <button class="btn btn-outline-dark" (click)="editBusinessInfo(editBusiness)">Edit Business Information</button>
            <button class="btn btn-outline-dark" (click)="cancelEditBusiness(editBusiness.id)">Cancel</button>

         </form>
       </div>
   </div>

  <div *ngIf="!selected" style="margin: auto; width: 85%">

    <div *ngIf="newBusiness && loggedInUser">
      <h3>Select existing business or create new business</h3>
     <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col" >&ensp;Add An Existing Employer:</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <label for="serviceType">Service Type:&ensp;</label>
            <select id="serviceType" name="id" [(ngModel)]="selectedServiceType.id">
              <option default hidden disabled>{{selectedServiceType.id}}</option>
              <option *ngFor="let service of serviceTypes" value="{{service.id}}">{{service.name}}</option>
            </select>
            <input class="btn btn-outline-dark" type="submit" value="Find" (click)="getBusinesses(selectedServiceType.id)" style="margin-left: 5px;"/>
            <label for="business">&ensp;Business:&ensp;</label>
            <select id="business" name="id" [(ngModel)]="addBusinessProvider.id">
              <option  *ngFor="let business of typedBusinesses" value="{{business.id}}">{{business.name | titlecase}}</option>
            </select>
            <span class="float-end"><input type="submit" class="btn btn-outline-dark" (click)="addBusinessEmployer(loggedInUser.id, addBusinessProvider.id)" value="Add"/></span>
          </td>

        </tr>
      </tbody>
    </table>
    <h6><strong>Add New Employer</strong></h6>
    <form>
      Name:
      <input type="text" name="name" [(ngModel)]="newBusiness.name" ><br>
      About:
      <input type="text"  name="about" [(ngModel)]="newBusiness.about"><br>
      Phone:
      <input type="text"  name="phone" [(ngModel)]="newBusiness.phone"><br>
      Image Url:
      <input type="text"  name="imageUrl" [(ngModel)]="newBusiness.imageUrl"><br>


      <label for="serviceType">Service Type:&ensp;</label>

        <select id="serviceType" name="id" [(ngModel)]="selectedServiceType.id">
          <option default hidden disabled>{{selectedServiceType.id}}</option>
          <option *ngFor="let service of serviceTypes; let i = index" [attr.data-index]="i" value="{{service.id}}">{{service.name}}</option>
        </select>

        <br><button class="btn btn-outline-dark" (click)="addBusiness(newBusiness)">Add Business</button>



      </form>
      </div>



  </div>


<div *ngIf="selected">


</div>
  <div class="container container-fluid" style="margin: 15px auto">
    <br>
    <!-- <div id="editForm" *ngIf="editUser"> -->


    </div>


  <div class="container container-fluid" style="margin: 15px auto" *ngIf="selected" >
    <br>
    <div id="address">
      <hr>
      <h4>Address</h4>
      <br>
      <div *ngIf="selected.address">
        <p>{{selected.address.street | titlecase }}</p>
        <p>{{selected.address.city  | titlecase }}</p>
        <p>{{selected.address.state}}</p>
        <p>{{selected.address.zipCode}}</p>
        <button class="btn btn-outline-dark" (click)="setEditAddress()">Edit Address</button>
      </div>

      <div *ngIf="selected.address && editingAddress">
        <p>
          <label for="street">Street:&ensp;</label>
          <input id="street" name="street" [(ngModel)]="editingAddress.street" />
        </p>
        <p>
          <label for="city">City:&ensp;</label>
          <input id="city" name="city" [(ngModel)]="editingAddress.city" />
        </p>
        <p>
          <label for="state">State:&ensp;</label>
          <input id="state" name="state" [(ngModel)]="editingAddress.state" />
        </p>
        <p>
          <label for="zipCode">Zip Code:&ensp;</label>
          <input id="zipCode" name="zipCode" [(ngModel)]="editingAddress.zipCode" />
        </p>
        <button class="btn btn-outline-dark" (click)="editAddress(selected.id, editingAddress.id, editingAddress)">Update</button>
        <button class="btn btn-outline-dark" (click)="cancelEditAddress(selected.id)">Cancel</button>
        <button class="btn btn-outline-dark" (click)="deleteAddress(editingAddress.id, selected.id)">Delete</button>
      </div>

      <div *ngIf="!selected.address && newAddress" style="margin: 15px auto">
        <p>
          <label for="street">Street:&ensp;</label>
          <input id="street" name="street" [(ngModel)]="newAddress.street" />
        </p>
        <p>
          <label for="city">City:&ensp;</label>
          <input id="city" name="city" [(ngModel)]="newAddress.city" />
        </p>
        <p>
          <label for="state">State:&ensp;</label>
          <input id="state" name="state" [(ngModel)]="newAddress.state" />
        </p>
        <p>
          <label for="zipCode">Zip Code:&ensp;</label>
          <input id="zipCode" name="zipCode" [(ngModel)]="newAddress.zipCode" />
        </p>
        <button class="btn btn-outline-dark" (click)="addAddress(selected.id, newAddress)">Add Address</button>


      </div>
    </div>
  </div>
<div *ngIf="selected">

  <div class="map-container" *ngIf="selected.address">
    ::{{selected.address.zipCode}}::
    <!-- src="https://www.google.com/maps?q={{selected.address.zipCode}}&z=9&output=embed" -->
    <iframe
   [src]="sanitizeUrl(selected.address.zipCode)"
    width="500" height="350" frameborder="0" style="border: 0"
    allowfullscreen> </iframe>
  </div>
  <a class="btn btn-outline-dark" [routerLink]="['/clients']">Back to Clients</a>
  </div>






