@import "~bootstrap/dist/css/bootstrap.css";

ngb-accordian > ngb-panel {
  color: gray;
  background-color: gray;
}



#replyTable{
  width: 80%;
  align-self: flex-end;
  margin-left: 10%;


}


body {
  background-image: url('https://live.staticflickr.com/65535/53009133376_94e92d9559_m.jpg');
}
