<!-- <div
  class="p-5 text-center bg-image"
  style="
    background-image: url('https://live.staticflickr.com/65535/53001143380_57d3c6298a_b.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
  "
>
  <div class="mask">
    <div class="d-flex justify-content-center align-items-center h-100">
      <div class="text-white">
        <h1 class="mb-3">Welcome to Pawrent Place</h1>
        <h4 class="mb-3">Please register</h4>
        <a class="btn btn-danger btn-lg" href="#!" role="button">Register</a>
      </div>
    </div>
  </div>
</div>
 -->

<!DOCTYPE html>
<html>
  <head>
    <title>Bootstrap Gallery</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
  </head>
  <body>

    <div class="container-fluid bg-secondary mt-5">
      <div class="row align-items-center" style="height: 140px">
        <div class="col-2 p-0">
          <img src="assets/images/pet1.png" class="img-fluid" />
        </div>
        <div class="col-2 p-0">
          <img src="assets/images/pet7.png" class="img-fluid" />
        </div>
        <div class="col-2 p-0">
          <img src="assets/images/pet3.png" class="img-fluid" />
        </div>
        <div class="col-2 p-0">
          <img src="assets/images/pet8.png" class="img-fluid" />
        </div>
        <div class="col-2 p-0">
          <img src="assets/images/pet5.png" class="img-fluid" />
        </div>
        <div class="col-2 p-0">
          <img src="assets/images/pet9.png" class="img-fluid" />
        </div>
      </div>
    </div>


    <hr>
    <div class="container m-5 text-center">
      <h1>The <strong>Place</strong> to Coordinate Pet Care</h1>
    </div>
    <hr>



    <div class="container-fluid bg-secondary mt-5">
      <div class="row align-items-center" style="height: 140px">
        <div class="col-2 p-0">
          <img src="assets/images/pet8.png" class="img-fluid" />
        </div>
        <div class="col-2 p-0">
          <img src="assets/images/pet2.png" class="img-fluid" />
        </div>
        <div class="col-2 p-0">
          <img src="assets/images/pet10.png" class="img-fluid" />
        </div>
        <div class="col-2 p-0">
          <img src="assets/images/pet4.png" class="img-fluid" />
        </div>
        <div class="col-2 p-0">
          <img src="assets/images/pet12.png" class="img-fluid" />
        </div>
        <div class="col-2 p-0">
          <img src="assets/images/pet6.png" class="img-fluid" />
        </div>
      </div>
    </div>


    <div class="container m-5">
      <hr>
      <div class="container m-5 text-center">
        <h2 class="m-5">Our Latest Friends</h2>
      </div>
      <div style="width: 800px; height: 400px; margin: 0 auto">
        <image-slider [slides]="slides"></image-slider>
      </div>
      <div class="m-5"></div>
    </div>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>

<!-- <div>
  <app-lastest-post></app-lastest-post>
</div> -->

<!-- <section class="newsletter-section">
  <div class="container text-center">
      <div class="row justify-content-center align-items-center" style="height: 400px;">
          <div class="col-lg-8">
              <h2 class="newsletter-title">Sign Up for Our Newsletter</h2>
              <p class="newsletter-description">Stay up-to-date with the latest news and updates.</p>
              <form class="form-inline justify-content-center" action="#" method="post">
                  <div class="form-group">
                      <input class="form-control mr-2" type="email" name="email" placeholder="Enter your email" required>
                  </div>
                  <button class="btn btn-danger mt-3" type="submit">Sign Up</button>
              </form>
          </div>
      </div>
  </div>
</section>



 -->
