<div name="addTodoForm" class="container m-5">
  <div class="row justify-content-center">
    <div class="col-lg-6">
      <h3 style="text-decoration: underline" class="text-center mb-4">Registration Form</h3>

      <div class="mb-3">
        <label for="username" class="form-label">Create Username:</label>
        <input id="username" type="text" name="username" [(ngModel)]="newUser.username" class="form-control" required/>
      </div>

      <div class="mb-3">
        <label for="password" class="form-label">Create Password:</label>
        <input id="password" type="password" name="password" [(ngModel)]="newUser.password" class="form-control" required/>
      </div>

      <div class="mb-3">
        <label for="role" class="form-label">Select Role:</label>
        <select id="role" name="role" [(ngModel)]="newUser.role" class="form-select" required>
          <option value="parent">Pawrent</option>
          <option value="provider">Provider</option>
        </select>
      </div>

      <div class="mb-3">
        <label for="email" class="form-label">Enter E-mail:</label>
        <input id="email" type="email" name="email" [(ngModel)]="newUser.email" class="form-control" required/>
      </div>

      <div class="mb-3">
        <label for="phone" class="form-label">Enter Phone:</label>
        <input id="phone" type="text" name="phone" [(ngModel)]="newUser.phone" class="form-control" required/>
      </div>

      <div class="mb-3">
        <label for="imageUrl" class="form-label">Profile Picture Link:</label>
        <input id="imageUrl" type="url" name="imageUrl" [(ngModel)]="newUser.imageUrl" class="form-control"/>
      </div>

      <div class="text-center">
        <input type="submit" value="Register" (click)="register(newUser)" class="btn btn-primary">
      </div>
    </div>
  </div>
</div>
