
<div name="addTodoForm">
  <h3 style="text-decoration: underline">Registration Form</h3>
  <!-- <label for="email">Email:</label>
  <input type="text" name="email" [(ngModel)]="user.email" /><br> -->
  <label for="email">Create Username:</label>
  <input type="text" name="username" [(ngModel)]="user.username" /><br>
  <label for="email">Create Password:</label>
  <input type="password" name="password" [(ngModel)]="user.password" /><br>
  <input type="submit" value="Register" (click)="register(user)" />
  </div>
