
<div name="detailPetView" *ngIf="selected && !editPet">

  <div name="petHeader" class="container container-fluid" style="height: 150px; margin: 15px">
    <h2 class="float-start">{{ selected.name }}</h2>
    <img src="{{ selected.imageUrl }}" alt="{{selected.name}} picture" class="rounded float-end" style="max-width: 150px; justify-content: right;"><br>
  </div>

  <div class="container container-fluid">
  <ngb-accordion #acc="ngbAccordion" activeIds="config-panel-one" id="petAccordian">
    <ngb-panel title="Basic Information" id="config-panel-one">
      <ng-template ngbPanelContent>
        <div name="basicInfo">
          <h4></h4>
          <!-- <p>ID: {{ selected.id }}</p> -->
          <blockquote *ngIf="selected.about">About: {{ selected.about }}</blockquote>
          <p>Species: {{ selected.species }} &emsp; Breed: {{ selected.breed }}</p>
          <p>Gender: {{ selected.gender }}</p>
          <p>Birthday: {{ selected.birth }}</p>
          <p *ngIf="selected.weight">Weight: {{ selected.weight }} pounds</p>
          <p *ngIf="selected.height">Height: {{ selected.height }} inches</p>
          <p>Color: {{ selected.color }}</p>
          <p>Microchipped: {{ selected.microchipped }}</p>
          <p>Allergies: {{ selected.allergies }}</p>
          <p *ngIf="selected.updatedAt">Last Update: {{ selected.updatedAt }}</p>
          <!-- <button class="btn btn-outline-dark" (click)="displayTable()">Back</button> -->
          <button class="btn btn-outline-dark" (click)="setEditPet()">Edit</button>
        </div>
      </ng-template>
    </ngb-panel>

    <ngb-panel title="Diet Information" id="config-panel-two">
      <ng-template ngbPanelContent>
        <div name="dietInfo">
          <table class="table table-striped" *ngIf="selected.diets">
            <thead>
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Type</th>
                <th scope="col">Amount</th>
                <th scope="col">Frequency</th>
                <th scope="col">Notes</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let diet of selected.diets">
                <td *ngIf="!editDiet">{{diet.name}}</td>
                <td *ngIf="!editDiet">{{diet.type}}</td>
                <td *ngIf="!editDiet">{{diet.amount}}</td>
                <td *ngIf="!editDiet">{{diet.frequency}}</td>
                <td *ngIf="!editDiet">{{diet.notes}}</td>
                <td *ngIf="!editDiet"><button class="btn btn-outline-dark" (click)="editDiet = diet">Edit</button></td>
              </tr>
              <tr *ngIf="editDiet">
                <td><input id="name" type="text" name="name" [(ngModel)]="editDiet.name" size="15" /></td>
                <td><input id="type" type="text" name="type" [(ngModel)]="editDiet.type" size="15" /></td>
                <td><input id="amount" type="text" name="amount" [(ngModel)]="editDiet.amount" size="15" /></td>
                <td><input id="frequency" type="text" name="frequency" [(ngModel)]="editDiet.frequency" size="15" /></td>
                <td><input id="notes" type="text" name="notes" [(ngModel)]="editDiet.notes" size="15" /></td>
                <td><button class="btn btn-outline-dark" (click)="updateDiet(selected.id, editDiet)">Update</button>
                <button class="btn btn-outline-dark" (click)=cancelEditDiet()>Cancel</button>
                <button class="btn btn-outline-dark" (click)="deleteDiet(selected.id, editDiet.id)">Delete</button></td>
              </tr>
              <th *ngIf="!editDiet" colspan="6">&ensp;Add Diet:</th>
              <tr>
                <td *ngIf="!editDiet"><input id="name" type="text" name="name" placeholder="name" [(ngModel)]="newDiet.name" size="15"/></td>
                <td *ngIf="!editDiet"><input id="type" type="text" name="type" placeholder="type" [(ngModel)]="newDiet.type" size="15" /></td>
                <td *ngIf="!editDiet"><input id="amount" type="text" name="amount" placeholder="amount" [(ngModel)]="newDiet.amount" size="15" /></td>
                <td *ngIf="!editDiet"><input id="frequency" type="text" name="frequency" placeholder="frequency" [(ngModel)]="newDiet.frequency" size="15" /></td>
                <td *ngIf="!editDiet"><input id="notes" type="text" name="notes" placeholder="notes" [(ngModel)]="newDiet.notes" size="15" /></td>
                <td *ngIf="!editDiet"><button class="btn btn-outline-dark" (click)="addDiet(selected.id, newDiet)">Add</button></td>
              </tr>
            </tbody>
          </table>
        </div>
      </ng-template>
    </ngb-panel>

    <ngb-panel title="Medical Information" id="config-panel-three">
      <ng-template ngbPanelContent>
        <div name="medicalInfo">

        </div>
      </ng-template>
    </ngb-panel>

    <ngb-panel title="Discussion Board" id="config-panel-four">
      <ng-template ngbPanelContent>
        <div name="discussionBoard">

        </div>
      </ng-template>
    </ngb-panel>
  </ngb-accordion>
</div>
</div>



<div name="editPetView" *ngIf="selected && editPet">
  <hr>
  <h3 style="text-decoration: underline">Edit {{selected.name}}'s' Basic Information:</h3>
  <label for="name">Name:&ensp;</label>
  <input id="name" type="text" name="name" [(ngModel)]="editPet.name" required/><br>
  <label for="species">Select Species:&ensp;</label>
  <select id="species" name="species" [(ngModel)]="editPet.species" required>
    <option value="Cat">Cat</option>
    <option value="Dog">Dog</option>
  </select><br>
  <label for="breed">Breed:&ensp;</label>
  <input id="breed" type="text" name="breed" [(ngModel)]="editPet.breed"/><br>
  <label for="gender">Select Gender:&ensp;</label>
  <select id="gender" name="gender" [(ngModel)]="editPet.gender" required>
    <option value="female">female</option>
    <option value="male">male</option>
  </select><br>
  <label for="birth">Birth:&ensp;</label>
  <input id="birth" type="date" name="birth" [(ngModel)]="editPet.birth"/><br>
  <label for="weight">Weight:&ensp;</label>
  <input id="weight" type="number" name="weight" [(ngModel)]="editPet.weight" />
  <label for="weight">pounds</label><br>
  <label for="height">Height:&ensp;</label>
  <input id="height" type="number" name="height" [(ngModel)]="editPet.height"/>
  <label for="height">inches</label><br>
  <label for="color">Color:&ensp;</label>
  <input id="color" type="text" name="color" [(ngModel)]="editPet.color" /><br>
  <label for="microchipped">Microchipped:&ensp;</label>
  <select id="microchipped" name="microchipped" [(ngModel)]="editPet.microchipped" >
    <option value="true">yes</option>
    <option value="false">no</option>
  </select><br>
  <label for="allergies">Allergies:&ensp;</label>
  <input id="allergies" type="text" name="allergies" [(ngModel)]="editPet.allergies" /><br>
  <label for="imageUrl">Picture Link:&ensp;</label>
  <input id="imageUrl" type="url" name="imageUrl" [(ngModel)]="editPet.imageUrl"/><br>
  <label for="about">About:&ensp;</label><br>
  <textarea id="about" name="about" [(ngModel)]="editPet.about"></textarea><br>
  <button class="btn btn-outline-dark" (click)="cancelEdit()">Cancel</button>
  <input class="btn btn-outline-dark" type="submit" value="Update Pet" (click)="updatePet(editPet)" />
  <button class="btn btn-outline-dark" (click)="deletePet(editPet.id)">Disable</button>
</div>
