


<div class="d-flex justify-content-center" *ngIf="!selected">
  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 p-3 rounded m-3" style="width: 60%; background-color: #F2F2F2;">
    <div class="text-center">
      <label for="subject">Subject:</label>
      <select id="subject" class="form-control m-1" placeholder="Subject">
        <option>Welcome Center</option>
        <option>General Pet Discussion</option>
        <option>Health and Wellness</option>
        <option>Training and Behavior</option>
        <option>Food and Nutrition</option>
        <option>Adoption and Rescue</option>
        <option>Volunteering</option>
        <option>Other</option>
      </select>
      <label for="question">Question:</label>
      <textarea id="question" class="form-control m-1" name="body" [(ngModel)]="newComment.body"></textarea>
      <button class="btn btn-success m-1" (click)="validateForm()">Ask a Question</button>
    </div>
  </div>
</div>






<div class="d-flex justify-content-center">
  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 bg-light p-3 rounded" style="width: 60%">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div *ngFor="let comment of comments" (click)="selected = comment">
          <div *ngIf="!comment.mainComment">
            <div id="commentSection" *ngIf="!selected">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>User</th>
                    <th>The Paw Square</th>
                    <th>Date Published</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <div class="d-flex justify-content-center align-items-center">
                        <div>
                          <img src="assets/images/user.png" style="border-radius: 50%; height: 100px; width: 100px" />
                        </div>
                        <br>
                      </div>
                    </td>
                    <td>
                      <strong>User: </strong> {{comment.user?.username}}
                      <br>
                      <strong>Topic: </strong>{{ comment.topic }}
                      <br />
                      <strong>Subject:</strong> This is an example subject
                      <br />
                      <strong>Question: </strong>{{ comment.body }}
                      <div *ngIf="comment.user && comment.user.id === user.id">

                        <button class="btn btn-danger m-1" (click)="deleteComment(comment.id)">Delete</button>

                      </div>
                    </td>
                    <td>
                      {{ comment.createdAt }}
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="d-flex justify-content-center">
  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 bg-light p-3 rounded" style="width: 60%">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div id="selectedSection" *ngIf="selected">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>User</th>
              <th>The Paw Square</th>
              <th>Date Published</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <div class="d-flex justify-content-center align-items-center">
                  <div>
                    <img src="assets/images/user.png" style="border-radius: 50%; height: 100px; width: 100px" />
                  </div>
                  <div>
                    {{selected.user?.username}}
                  </div>
                  <br>
                </div>
              </td>
              <td>
                <strong>Topic: </strong>{{ selected.topic }}
                <br />
                <strong>Subject:</strong> This is an example subject
                <br />
                <strong>Question: </strong>{{ selected.body }}

                <div *ngIf="selected.user?.id === user.id">
                  <button class="btn btn-danger m-1"  (click)="deleteComment(selected.id)">Delete</button>

                </div>
              </td>
              <td>
                {{ selected.createdAt }}
              </td>
            </tr>
          </tbody>
        </table>
        <div class="d-flex justify-content-end bg-light">
          <div class="col-lg-11 col-md-11 col-sm-8 col-xs-11 m-2" style="height: 100%;">
            <div *ngFor="let reply of selected.replies">
              <table class="table table-striped m-5">
                <thead>
                  <tr>
                    <th>replied by {{reply.user?.username}}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      {{ reply.body }}
                      <br>
                      posted on: {{ reply.createdAt }}
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <h3>Add a Reply</h3>
        <form>
          <div class="form-group">
            <label for="replyBody">Body</label>
            <textarea class="form-control" name="body" [(ngModel)]="newComment.body"></textarea>
          </div>
          <div>
            <span class="m-2">
              <button type="submit" class="btn btn-primary" (click)="replyToComment(newComment)">Submit Reply</button>
            </span>
            <span>
              <button class="btn btn-primary" (click)="selected = null">Back to Forum List</button>
            </span>
          </div>
        </form>
        <br />
      </div>
    </div>
  </div>
</div>
