<footer class="text-white text-center text-lg-start" style="background-color: #64C8B4;">
  <!-- Rest of the footer content -->


  <!-- Grid container -->
  <div class="container p-4 d-flex flex-column align-items-center">
    <!--Grid row-->
    <div class="row mt-4">
      <!--Grid column-->
      <div class="col-lg-4 col-md-12 mb-4 mb-md-0">
        <h5 class="text-uppercase mb-4 text-center">Pawrent Place</h5>
        <div>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. In sed lorem quam. Integer in elit mattis, fringilla odio vel, congue lorem. Phasellus sed posuere ligula. Sed vel turpis lacinia, mollis diam in, consequat magna.
          </p>
        </div>
        <div class="mt-4 d-flex justify-content-center">
          <!-- Facebook -->
          <a
            href="#"
            target="_blank"
            class="btn btn-floating btn-light btn-lg m-1"
            ><i class="fab fa-facebook-f"></i
          ></a>
          <!-- Dribbble -->
          <a
            href="#"
            target="_blank"
            class="btn btn-floating btn-light btn-lg m-1"
            ><i class="fab fa-dribbble"></i
          ></a>
          <!-- Twitter -->
          <a
            href="#"
            target="_blank"
            class="btn btn-floating btn-light btn-lg m-1"
            ><i class="fab fa-twitter"></i
          ></a>
          <!-- LinkedIn -->
          <a
            href="#"
            target="_blank"
            class="btn btn-floating btn-light btn-lg m-1"
            ><i class="fab fa-linkedin-in"></i
          ></a>
        </div>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase mb-4 pb-1 text-center">Search something</h5>
        <div
          class="form-outline form-white mb-4 d-flex flex-column align-items-center"
        >
          <input
            type="text"
            id="formControlLg"
            class="form-control form-control-lg"
          />
          <label
            class="form-label d-flex justify-content-center"
            for="formControlLg"
          >
            <a href="#" class="btn btn-danger mt-2">Search</a>
          </label>
        </div>
      </div>

      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase mb-4 text-center">Hours of Operations EST</h5>
        <table class="table text-center text-white">
          <tbody class="fw-normal">
            <tr>
              <td>Mon - Fri:</td>
              <td>9am - 5pm</td>
            </tr>
            <tr>
              <td>Sat:</td>
              <td>10am - 3pm</td>
            </tr>
            <tr>
              <td>Sunday:</td>
              <td>Closed</td>
            </tr>
          </tbody>
        </table>
      </div>
      <!--Grid column-->
    </div>
    <!--Grid row-->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
    © 2023 EventLight LLC All Rights Reserved
    <a class="text-white" href="#">Eventlight.com</a>
  </div>
  <!-- Copyright -->
</footer>
