<div id="userHeader" *ngIf="loggedInUser">
  <div class="container container-fluid" style="height: 150px; margin: 15px auto">
    <br>
    <div class="float-start">
      <h2>{{ loggedInUser.username }}</h2>
      <h5>{{ loggedInUser.phone }}</h5>
      <h5>{{ loggedInUser.email }}</h5>
      <button class="btn btn-outline-dark" (click)="setEditUser()">Edit Account</button>
    </div>
    <img *ngIf="loggedInUser.imageUrl" src="{{ loggedInUser.imageUrl }}" alt="{{loggedInUser.username}} picture" class="rounded float-end" style="max-width: 150px; justify-content: right;"><br>
    <img *ngIf="!loggedInUser.imageUrl" src="https://vectorified.com/images/avatar-icon-png-1.png" alt="{{loggedInUser.username}} picture" class="rounded float-end" style="max-width: 150px; justify-content: right;"><br>
  </div>
</div>

<div class="container container-fluid" style="margin: 15px auto">
  <br>
  <div id="editForm" *ngIf="editUser">
    <hr>
    <div name="editUserForm" class="container m-5">
      <div class="row justify-content-center">
        <div class="col-lg-6">


          <div class="mb-3">
            <label for="username" class="form-label">Username:</label>
            <input id="username" type="text" name="username" [(ngModel)]="editUser.username" class="form-control" required/>
          </div>

          <div class="mb-3">
            <label for="password" class="form-label">Password:</label>
            <input id="password" type="password" name="password" [(ngModel)]="editUser.password" class="form-control" required/>
          </div>

          <div class="mb-3">
            <label for="role" class="form-label">Role:</label>
            <select id="role" name="role" [(ngModel)]="editUser.role" class="form-select" required>
              <option value="parent">Pawrent</option>
              <option value="provider">Provider</option>
            </select>
          </div>

          <div class="mb-3">
            <label for="email" class="form-label">E-mail:</label>
            <input id="email" type="email" name="email" [(ngModel)]="editUser.email" class="form-control" required/>
          </div>

          <div class="mb-3">
            <label for="phone" class="form-label">Phone:</label>
            <input id="phone" type="text" name="phone" [(ngModel)]="editUser.phone" class="form-control" required/>
          </div>

          <div class="mb-3">
            <label for="imageUrl" class="form-label">Profile Picture Link:</label>
            <input id="imageUrl" type="url" name="imageUrl" [(ngModel)]="editUser.imageUrl" class="form-control"/>
          </div>

          <div class="text-center">
            <input type="submit" value="Update" (click)="updateUser(editUser)" class="btn btn-outline-dark">
            <button class="btn btn-outline-dark" (click)="cancelEditUser()">Cancel</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container container-fluid" style="margin: 15px auto" *ngIf="loggedInUser">
  <br>
  <div id="address">
    <hr>
    <h4>Address</h4>
    <br>
    <div *ngIf="loggedInUser.address && !editingAddress">
      <p>{{loggedInUser.address.street | titlecase }}</p>
      <p>{{loggedInUser.address.city  | titlecase }}</p>
      <p>{{loggedInUser.address.state}}</p>
      <p>{{loggedInUser.address.zipCode}}</p>
      <button class="btn btn-outline-dark" (click)="setEditAddress()">Edit Address</button>
    </div>

    <div *ngIf="loggedInUser.address && editingAddress">
      <p>
        <label for="street">Street:&ensp;</label>
        <input id="street" name="street" [(ngModel)]="editingAddress.street" />
      </p>
      <p>
        <label for="city">City:&ensp;</label>
        <input id="city" name="city" [(ngModel)]="editingAddress.city" />
      </p>
      <p>
        <label for="state">State:&ensp;</label>
        <input id="state" name="state" [(ngModel)]="editingAddress.state" />
      </p>
      <p>
        <label for="zipCode">Zip Code:&ensp;</label>
        <input id="zipCode" name="zipCode" [(ngModel)]="editingAddress.zipCode" />
      </p>
      <button class="btn btn-outline-dark" (click)="editAddress(loggedInUser.id, editingAddress.id, editingAddress)">Update</button>
      <button class="btn btn-outline-dark" (click)="cancelEditAddress()">Cancel</button>
      <button class="btn btn-outline-dark" (click)="deleteAddress(editingAddress.id)">Delete</button>
    </div>

    <div *ngIf="!loggedInUser.address" style="margin: 15px auto">
      <p>
        <label for="street">Street:&ensp;</label>
        <input id="street" name="street" [(ngModel)]="newAddress.street" />
      </p>
      <p>
        <label for="city">City:&ensp;</label>
        <input id="city" name="city" [(ngModel)]="newAddress.city" />
      </p>
      <p>
        <label for="state">State:&ensp;</label>
        <input id="state" name="state" [(ngModel)]="newAddress.state" />
      </p>
      <p>
        <label for="zipCode">Zip Code:&ensp;</label>
        <input id="zipCode" name="zipCode" [(ngModel)]="newAddress.zipCode" />
      </p>
      <button class="btn btn-outline-dark" (click)="addAddress(loggedInUser.id, newAddress)">Add Address</button>
    </div>
  </div>
</div>
