<div id="userHeader" *ngIf="loggedInUser">
  <div class="container container-fluid" style="height: 150px; margin: 15px">
    <br>
    <div class="float-start">
      <h2>{{ loggedInUser.username }}</h2>
      <h5>{{ loggedInUser.phone }}</h5>
      <h5>{{ loggedInUser.email }}</h5>
      <a class="btn btn-outline-dark" [routerLink]="['/account', loggedInUser.id]">View Account</a>
    </div>
    <img *ngIf="loggedInUser.imageUrl" src="{{ loggedInUser.imageUrl }}" alt="{{loggedInUser.username}} picture" class="rounded float-end" style="max-width: 150px; justify-content: right;"><br>
    <img *ngIf="!loggedInUser.imageUrl" src="https://vectorified.com/images/avatar-icon-png-1.png" alt="{{loggedInUser.username}} picture" class="rounded float-end" style="max-width: 150px; justify-content: right;"><br>
  </div>
</div>

<div id="listView" name="listView" *ngIf="!selected" style="margin-top: 20px;">
  <br>
  <br>
  <hr>
  <h4 style="text-align: center;">My Pets</h4>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>

    <tbody
      *ngFor="let pet of pets; let i = index" [attr.data-index]="i" >
      <tr style="vertical-align: middle; font-size: larger" >
        <td>
          <img *ngIf="pet.imageUrl" src="{{ pet.imageUrl }}" alt="{{pet.name}} Picture" style="max-width: 75px;">
          <img *ngIf="!pet.imageUrl" src="https://cdn.onlinewebfonts.com/svg/img_74660.png" alt="{{pet.name}} Picture" style="max-width: 75px;">
        </td>
        <td>
          {{pet.name | titlecase }}
        </td>
        <td>
          <span>{{pet.species | titlecase }}</span><span *ngIf="pet.breed">: {{pet.breed | titlecase }}</span>
        </td>
        <td>
          <span *ngIf="pet.birth"> {{calculateAge(pet.birth)}}</span>
        </td>
        <td>
          <span class="float-end">
          <button type="button" id="selectPetBtn" class="btn btn-outline-dark" (click)="displayPet(pet)">View Profile</button>
          </span>
        </td>

      </tr>
    </tbody>
  </table>
</div>

<br>
<div id="accordian" style="margin-bottom: 15px;">
  <ngb-accordion #acc="ngbAccordion" activeIds="config-panel-one" id="providersAndAddPetAccordian">
    <ngb-panel title="My Pet Care Providers" id="config-panel-one">
      <ng-template ngbPanelContent>
        <div id="userBusinesses" *ngIf="loggedInUser">

          <table class="table table-striped" *ngFor="let business of loggedInUser.businessesUsed">
            <thead>
              <tr>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <img *ngIf="business.imageUrl" src="{{business.imageUrl}}" alt="business picture" style="max-width: 35px">
                  <img *ngIf="!business.imageUrl" src="http://pluspng.com/img-png/shop-png-black-and-white-shop-icon-it-s-an-icon-for-finding-local-shopping-the-logo-is-a-square-png-50-px-1600.png" alt="business picture" style="max-width: 35px">
                  <button class="btn btn-outline-dark" style="margin-left: 10px;" [routerLink]="['/business', business.id]">{{business.name | titlecase }}</button>
                  <span *ngFor="let service of business.serviceTypes">&ensp;{{service.name | titlecase }}&ensp;</span>
                  <span class="float-end"><button class="btn btn-outline-dark">Remove</button></span>
                </td>
              </tr>
            </tbody>
          </table>

          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col" >&ensp;Add Care Provider:</th>
              </tr>
            </thead>
            <tbody>
              <tr >
                <td>
                  <label for="serviceType">Service Type:&ensp;</label>
                  <select id="serviceType" name="id" [(ngModel)]="selectedServiceType.id">
                    <!-- (onChange)="getBusinesses()" -->
                    <option  *ngFor="let service of serviceTypes" value="{{service.id}}">{{service.name}}</option>
                  </select>
                  <input class="btn btn-outline-dark" type="submit" value="Find" (click)="getBusinesses(selectedServiceType.id)" style="margin-left: 5px;"/>
                  <label for="business">&ensp;Business:&ensp;</label>
                  <select id="business" name="id" [(ngModel)]="addBusiness.id">
                    <option  *ngFor="let business of typedBusinesses" value="{{business.id}}">{{business.name | titlecase}}</option>
                  </select>
                  <span class="float-end"><input type="submit" class="btn btn-outline-dark" (click)="addBusinessUsed(loggedInUser.id, addBusiness.id)" value="Add"/></span>
                </td>

              </tr>
            </tbody>
          </table>

        </div>
      </ng-template>
    </ngb-panel>

     <ngb-panel title="Add A Pet" id="config-panel-two">
      <ng-template ngbPanelContent>

        <div name="addPetForm" style="width: max-content; margin: auto;">

          <p>
            <label for="name">Name:&ensp;</label>
            <input id="name" type="text" name="name" [(ngModel)]="newPet.name" size="30" class="float-end" required/>
          </p>
          <p>
            <label for="species">Select Species:&ensp;</label>
            <select id="species" name="species" [(ngModel)]="newPet.species" style="width: 200px;" class="float-end" required>
              <option value="Cat">Cat</option>
              <option value="Dog">Dog</option>
            </select>
          </p>
          <p>
            <label for="breed">Breed:&ensp;</label>
            <input id="breed" type="text" name="breed" [(ngModel)]="newPet.breed" size="30" class="float-end"/>
          </p>
          <p>
            <label for="gender">Select Gender:&ensp;</label>
            <select id="gender" name="gender" [(ngModel)]="newPet.gender" style="width: 205px;" class="float-end" required>
              <option value="female">female</option>
              <option value="male">male</option>
            </select><br>
          </p>
          <p>
            <label for="birth">Birth:&ensp;</label>
            <input id="birth" type="date" name="birth" [(ngModel)]="newPet.birth" class="float-end"/>
          </p>
          <p>
            <label for="weight">Weight (pounds):&ensp;</label>
            <input id="weight" type="number" name="weight" min="0" max="9999" [(ngModel)]="newPet.weight" class="float-end"/>
          </p>
          <p>
            <label for="height">Height (inches):&ensp;</label>
            <input id="height" type="number" name="height" min="0" max="9999" [(ngModel)]="newPet.height" class="float-end"/>
          </p>
          <p>
            <label for="color">Color:&ensp;</label>
            <input id="color" type="text" name="color" [(ngModel)]="newPet.color" size="31" class="float-end"/>
          </p>
          <p>
            <label for="microchipped">Microchipped:&ensp;</label>
            <select id="microchipped" name="microchipped" [(ngModel)]="newPet.microchipped" style="width: 205px;" class="float-end">
              <option value="true">yes</option>
              <option value="false">no</option>
            </select>
          </p>
          <p>
            <label for="allergies">Allergies:&ensp;</label>
            <input id="allergies" type="text" name="allergies" [(ngModel)]="newPet.allergies" size="28" class="float-end"/>
          </p>
          <p>
            <label for="imageUrl">Picture Link:&ensp;</label>
            <input id="imageUrl" type="url" name="imageUrl" [(ngModel)]="newPet.imageUrl" size="26" class="float-end"/>
          </p>
          <p>
            <label for="about">About:&ensp;</label><br>
            <textarea id="about" name="about" [(ngModel)]="newPet.about" cols="38"></textarea>
          </p>
            <input type="submit" value="Add Pet" (click)="addPet(newPet)" style="margin: auto;"/>
        </div>
      </ng-template>
    </ngb-panel>
  </ngb-accordion>
</div>

