<div id="listView" name="listView" *ngIf="!selected" style="margin-top: 20px;">
  <h4 style="text-align: center;">My Pets</h4>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>

    <tbody
      *ngFor="let pet of pets; let i = index" [attr.data-index]="i" >
      <tr style="vertical-align: middle; font-size: larger" >
        <td><img src="{{ pet.imageUrl }}" alt="{{pet.name}} Picture" style="max-width: 75px;"></td>
        <td>
          {{pet.name}}
        </td>
        <td>
          <span>{{pet.breed}} {{pet.birth}}</span>
        </td>
        <td>
          <button type="button" id="selectPetBtn" class="btn btn-outline-dark" (click)="displayPet(pet)">View Profile</button>
        </td>

      </tr>
    </tbody>
  </table>
</div>

<div name="addPetForm">
  <hr>
  <h3 style="text-decoration: underline">Add A Pet:</h3>

  <label for="name">Name:&ensp;</label>
  <input id="name" type="text" name="name" [(ngModel)]="newPet.name" required/><br>

  <label for="species">Select Species:&ensp;</label>
  <select id="species" name="species" [(ngModel)]="newPet.species" required>
    <option value="Cat">Cat</option>
    <option value="Dog">Dog</option>
  </select><br>
  <label for="breed">Breed:&ensp;</label>
  <input id="breed" type="text" name="breed" [(ngModel)]="newPet.breed"/><br>
  <label for="gender">Select Gender:&ensp;</label>
  <select id="gender" name="gender" [(ngModel)]="newPet.gender" required>
    <option value="female">female</option>
    <option value="male">male</option>
  </select><br>
  <label for="birth">Birth:&ensp;</label>
  <input id="birth" type="date" name="birth" [(ngModel)]="newPet.birth"/><br>
  <label for="weight">Weight:&ensp;</label>
  <input id="weight" type="number" name="weight" [(ngModel)]="newPet.weight" />
  <label for="weight">pounds</label><br>
  <label for="height">Height:&ensp;</label>
  <input id="height" type="number" name="height" [(ngModel)]="newPet.height"/>
  <label for="height">inches</label><br>
  <label for="color">Color:&ensp;</label>
  <input id="color" type="text" name="color" [(ngModel)]="newPet.color" /><br>
  <label for="microchipped">Microchipped:&ensp;</label>
  <select id="microchipped" name="microchipped" [(ngModel)]="newPet.microchipped" >
    <option value="true">yes</option>
    <option value="false">no</option>
  </select><br>
  <label for="allergies">Allergies:&ensp;</label>
  <input id="allergies" type="text" name="allergies" [(ngModel)]="newPet.allergies" /><br>
  <label for="imageUrl">Picture Link:&ensp;</label>
  <input id="imageUrl" type="url" name="imageUrl" [(ngModel)]="newPet.imageUrl"/><br>
  <label for="about">About:&ensp;</label><br>
  <textarea id="about" name="about" [(ngModel)]="newPet.about"></textarea><br>
  <input type="submit" value="Add Pet" (click)="addPet(newPet)" />
</div>
