<div id="listView" name="listView" *ngIf="!selected">
  <h4 style="text-align: center;">My Pets</h4>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>

    <tbody
      *ngFor="let pet of pets; let i = index" [attr.data-index]="i" >
      <tr style="vertical-align: middle; font-size: larger" >
        <td><img src="{{ pet.imageUrl }}" alt="{{pet.name}} Picture"></td>
        <td>
          {{pet.name}}
        </td>
        <td>
          <span>{{pet.breed}} {{pet.birth}}</span>
        </td>
        <td>
          <button type="button" id="selectPetBtn" class="btn btn-outline-dark" (click)="displayPet(pet)">View Profile</button>
        </td>

      </tr>
    </tbody>
  </table>
</div>

<div name="detailPetView" *ngIf="selected && !editPet">
  <div name="basicInfo">
    <h4>ID: {{ selected.id }}</h4>
    <p>Name: {{ selected.name }}</p>
    <img src="{{ selected.gender }}" alt="{{selected.name}} picture"><br>
    <blockquote *ngIf="selected.about">About: {{ selected.about }}</blockquote>
    <p>Species: {{ selected.species }}</p>
    <p>Breed: {{ selected.breed }}</p>
    <p>Gender: {{ selected.gender }}</p>
    <p>Birthday: {{ selected.birth }}</p>
    <p *ngIf="selected.weight">Weight: {{ selected.weight }} pounds</p>
    <p *ngIf="selected.height">Height: {{ selected.height }} inches</p>
    <p>Color: {{ selected.color }}</p>
    <p>Microchipped: {{ selected.microchipped }}</p>
    <p>Allergies: {{ selected.allergies }}</p>
    <p>Last Update: {{ selected.updatedAt }}</p>

    <button (click)="displayTable()">Back</button>
    <button (click)="setEditPet()">Edit</button>
  </div>
</div>
